.wrapper{
    @apply container m-auto  xl:max-w-[1280px] 2xl:max-w-[1280px] max-w-[340px];
    
};
*{
    @apply font-montserrat;
};
html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* CSS Reset */
html,
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Убедитесь, что html и body занимают весь экран */
html,
body {
    height: 100%;
    width: 100%;
}

/* HTML5 display-role reset for older browsers */

