.header_nav{
    @apply hidden xl:flex xl:gap-8 xl:text-base xl:font-normal xl:text-zinc-950 ;
    a {
            @apply xl:text-xl xl:hover:text-customBlue;
            
        }
       
          a::after {
              display: block;
              content: '';
              border-bottom: solid 2px #0069C3 ;
              transform: scaleX(0);
              transition: transform 500ms ease-in-out;
              transform-origin: 0% 100%
          }
    
          a:hover::after {
              transform: scaleX(1);
    
          }
};
.name {
    @apply w-[185px] text-xl xl:text-5xl text-customBlue font-bold xl:w-[400px] tracking-wide xl:leading-[60px] mr-auto;
}

;

