.header_nav{
    @apply  flex gap-8 text-base font-normal text-zinc-950 ;
    a {
            @apply text-xl hover:text-customBlue;
            
        }
       
          a::after {
              display: block;
              content: '';
              border-bottom: solid 2px #0069C3 ;
              transform: scaleX(0);
              transition: transform 500ms ease-in-out;
              transform-origin: 0% 100%
          }
    
          a:hover::after {
              transform: scaleX(1);
    
          }
};

