.title{
  margin: auto;
  width: 20%;
  text-align: center
}

.photo{
  width: 20%
}

.header_wrapper{
  margin-top: 0.75rem;
  width: 100%
}

.header{
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

@media (min-width: 1280px){
  .header{
    width: 1280px;
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 1536px){
  .header{
    width: 1280px
  }
}

.header_nav{
  display: none
}

@media (min-width: 1280px){
  .header_nav{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: rgb(9 9 11 / var(--tw-text-opacity))
  }
}

.header_nav{
  @media (min-width: 1280px){
    a{
      font-size: 1.25rem;
      line-height: 1.75rem
    }
  }
  @media (min-width: 1280px){
    a:hover{
      --tw-text-opacity: 1;
      color: rgb(0 105 195 / var(--tw-text-opacity))
    }
  }
  a::after {
    display: block;
    content: '';
    border-bottom: solid 2px #0069C3 ;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
    transform-origin: 0% 100%
  }
  a:hover::after {
    transform: scaleX(1);
  }
};

.name{
  margin-right: auto;
  width: 185px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(0 105 195 / var(--tw-text-opacity))
}

@media (min-width: 1280px){
  .name{
    width: 400px;
    font-size: 3rem;
    line-height: 1;
    line-height: 60px
  }
}

.title_section{
  display: flex;
  flex-direction: column
}

@media (min-width: 1280px){
  .title_section{
    margin-top: 2.75rem;
    flex-direction: row;
    justify-content: space-between
  }
}

.aboutMe_section{
  margin-top: 54px;
  display: flex;
  flex-direction: column
}

@media (min-width: 1280px){
  .aboutMe_section{
    margin-top: 100px;
    flex-direction: row;
    justify-content: space-between
  }
}

@media (min-width: 1536px){
  .aboutMe_section{
    justify-content: space-between
  }
}

.title_block_wrapper{
  order: 2;
  margin-top: 0.75rem;
  display: grid
}

@media (min-width: 1280px){
  .title_block_wrapper{
    order: 1;
    margin-top: 0px
  }
}

.wrapper{
  width: 100%
}

@media (min-width: 640px){
  .wrapper{
    max-width: 640px
  }
}

@media (min-width: 768px){
  .wrapper{
    max-width: 768px
  }
}

@media (min-width: 1024px){
  .wrapper{
    max-width: 1024px
  }
}

@media (min-width: 1280px){
  .wrapper{
    max-width: 1280px
  }
}

@media (min-width: 1536px){
  .wrapper{
    max-width: 1536px
  }
}

.wrapper{
  margin: auto;
  max-width: 340px
}

@media (min-width: 1280px){
  .wrapper{
    max-width: 1280px
  }
}

@media (min-width: 1536px){
  .wrapper{
    max-width: 1280px
  }
}

*{
  font-family: Montserrat, sans-serif
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

/* CSS Reset */

html,
body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Убедитесь, что html и body занимают весь экран */

html,
body {
  height: 100%;
  width: 100%;
}

/* HTML5 display-role reset for older browsers */

.photo{
};

.profession{
  margin-top: 0px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-style: italic
}

@media (min-width: 1280px){
  .profession{
    margin-top: 1rem
  }
}

.title_text{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700
}

@media (min-width: 1280px){
  .title_text{
    margin-top: auto;
    margin-bottom: auto;
    width: 628px;
    font-size: 48px;
    line-height: 59px
  }
}

.sub_title{
  margin-top: 1.25rem;
  font-weight: 600
}

@media (min-width: 1280px){
  .sub_title{
    width: 400px
  }
}

.buttons_wrapper{
  display: flex;
  width: 320px;
  justify-content: space-between
}

@media (min-width: 1280px){
  .buttons_wrapper{
    width: auto;
    justify-content: normal;
    gap: 1.5rem;
    align-self: flex-end
  }
}

.title_button{
  width: 150px;
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 12px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 1280px){
  .title_button{
    width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 1rem;
    line-height: 1.5rem
  }
}

.blue_button{
  border-width: 2px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 105 195 / var(--tw-bg-opacity));
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

@media (min-width: 1280px){
  .blue_button{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms
  }

  .blue_button:hover{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(0 105 195 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(0 105 195 / var(--tw-text-opacity))
  }
}

.white_button{
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(0 105 195 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(0 105 195 / var(--tw-text-opacity));
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

@media (min-width: 1280px){
  .white_button{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
  }

  .white_button:hover{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-bg-opacity: 1;
    background-color: rgb(0 105 195 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }

  .aboutMe_section{
    padding-top: 1.75rem
  }
}

.aboutMe_section{
  .title_text{
    margin-top: 0px
  }
  .sub_title{
    font-weight: 400
  }
  @media (min-width: 1280px){
    .sub_title{
      width: 628px
    }
  }
  .title_block_wrapper{
    gap: 21px
  }
  @media (min-width: 1280px){
    .title_block_wrapper{
      order: 2
    }
  }
  @media (min-width: 1280px){
    .title_block_wrapper{
      gap: 0px
    }
  }
  .about_me_img{
    order: 1
  }
  .about_me_img{
    width: 450px
  }
}

.title_section{
  margin-top: 0px;
  .title_block{
    display: flex
  }
  .title_block{
    flex-direction: column
  }
  .photo{
    margin-top: 14px
  }
  .photo{
    width: 500px
  }
  @media (min-width: 1280px){
    .photo{
      order: 2
    }
  }
  @media (min-width: 1280px){
    .photo{
      margin-top: 0
    }
  }
}

.date_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

@media (min-width: 1536px){
  .date_wrapper{
    width: 192px
  }
}

.date{
  width: 100%;
  border-radius: 8px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 105 195 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1280px){
  .date{
    width: 140px;
    align-self: flex-start;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem
  }
}

@media (min-width: 1536px){
  .date{
    width: 192px
  }
}

.vertical_divider{
  position: absolute;
  left: 17.1%;
  display: none
}

@media (min-width: 1280px){
  .vertical_divider{
    margin-top: -10px;
    display: block;
    height: 90%;
    width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity))
  }
}

.vertical_divider2{
  position: absolute;
  right: 28.1%;
  display: none
}

@media (min-width: 1280px){
  .vertical_divider2{
    margin-top: -10px;
    display: block;
    height: 90%;
    width: 1px;
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity))
  }
}

.education_block_wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px
}

@media (min-width: 1280px){
  .education_block_wrapper{
    margin-top: 1.25rem;
    margin-bottom: 100px;
    gap: 96px
  }
}

.round{
  margin-top: 4%;
  display: none
}

@media (min-width: 1280px){
  .round{
    margin-right: -26px;
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(12 74 110 / var(--tw-bg-opacity))
  }
}

.date_round_wrapper{
  display: flex;
  justify-content: space-between
}

.schools_wrapper{
  margin-left: 35px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 96px
}

.schools_wrapper:last-child{
  margin-bottom: -63px
}

.school{
  display: flex;
  height: 160px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 10px;
  padding: 1rem;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 1280px){
  .school{
    margin-left: 1.5rem;
    width: 337px
  }
}

.school{
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  p{
    text-align: center
  }
  p:first-child{
    font-size: 1.125rem;
    line-height: 1.75rem
  }
  p:first-child{
    font-weight: 600
  }
  p:last-child{
    font-weight: 600
  }
}

.school_skills{
  font-size: 0.875rem;
  line-height: 1.25rem
}

.school_wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

@media (min-width: 1280px){
  .school_wrapper{
    flex-direction: row;
    gap: 1.25rem
  }
}

.education_section{
  margin-top: 56px
}

@media (min-width: 1280px){
  .education_section{
    margin-top: 100px
  }
}

.education_content_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px
}

@media (min-width: 1280px){
  @media (min-width: 1024px){
    .education_content_wrapper{
      gap: 89px
    }
  }

  .education_content_wrapper{
    position: relative;
    flex-direction: row;
    gap: 3.4rem
  }
}

.education_title{
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700
}

@media (min-width: 1280px){
  .education_title{
    margin-bottom: 0px;
    font-size: 48px
  }
}

.skillset_title{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700
}

@media (min-width: 1280px){
  .skillset_title{
    font-size: 48px
  }
}

.skillset_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.skillset_section{
  margin-top: 56px
}

@media (min-width: 1280px){
  .skillset_section{
    margin-top: 100px
  }
}

.skillset{
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: space-between;
  gap: 0.5rem
}

@media (min-width: 1280px){
  .skillset{
    margin-top: 33px;
    display: flex
  }
}

.skills_logo{
  margin-top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 9999px
}

@media (min-width: 1280px){
  .skills_logo{
    margin-top: 0px;
    height: 85px;
    width: 85px
  }
}

/*.skillsset_table{
    @apply grid-cols-3 grid gap-[23px] w-[600px];
};*/

/* 
.skill_name {
    @apply border-customBlue border-[1px] rounded-[8px] flex justify-center items-center p-[16px];
}
*/

.skillsset_table{
  margin-top: 24px;
  display: grid;
  gap: 1.25rem
}

@media (min-width: 1280px){
  .skillsset_table{
    margin-top: 100px;
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}

.skillsset_table{
  .skill_wrapper{
    display: flex
  }
  .skill_wrapper{
    flex-direction: column
  }
  .skill_wrapper{
    align-items: center
  }
  .skill_wrapper{
    border-radius: 0.5rem
  }
  h3{
    width: 100%
  }
  h3{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem
  }
  h3{
    --tw-bg-opacity: 1;
    background-color: rgb(0 105 195 / var(--tw-bg-opacity))
  }
  h3{
    padding-left: 2rem;
    padding-right: 2rem
  }
  h3{
    padding-top: 1rem
  }
  h3{
    padding-bottom: 0.75rem
  }
  h3{
    text-align: center
  }
  h3{
    font-weight: 700
  }
  h3{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
  @media (min-width: 1280px){
    h3{
      font-size: 1.125rem;
      line-height: 1.75rem
    }
  }
  @media (min-width: 1536px){
    h3{
      font-size: 1.125rem;
      line-height: 1.75rem
    }
  }
  .skill_name_wrapper{
    display: flex
  }
  .skill_name_wrapper{
    height: 100%
  }
  .skill_name_wrapper{
    width: 100%
  }
  .skill_name_wrapper{
    flex-direction: column
  }
  .skill_name_wrapper{
    align-items: center
  }
  .skill_name_wrapper{
    justify-content: center
  }
  .skill_name_wrapper{
    gap: 0.25rem
  }
  .skill_name_wrapper{
    border-radius: 0.5rem
  }
  .skill_name_wrapper{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
  }
  .skill_name_wrapper{
    border-left-width: 2px;
    border-right-width: 2px
  }
  .skill_name_wrapper{
    border-bottom-width: 2px
  }
  .skill_name_wrapper{
    --tw-border-opacity: 1;
    border-color: rgb(0 105 195 / var(--tw-border-opacity))
  }
  .skill_name_wrapper{
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
  .skill_name_wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem
  }
  .skill_name_wrapper{
    font-size: 1.125rem;
    line-height: 1.75rem
  }
  .skill_name_wrapper{
    font-weight: 400
  }
}

.contact_link_wrapper{
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  gap: 19px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem
}

@media (min-width: 1280px){
  .contact_link_wrapper{
    margin-top: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 23px
  }
}

.contact_me_section{
  margin-top: 50px
}

@media (min-width: 1280px){
  .contact_me_section{
    margin-top: 100px
  }
}

.contact_me_title{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700
}

@media (min-width: 1280px){
  .contact_me_title{
    font-size: 3rem;
    line-height: 1
  }
}

.contact_link_button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(0 105 195 / var(--tw-border-opacity));
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  font-size: 16px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

@media (min-width: 1280px){
  .contact_link_button{
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    line-height: 2rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms
  }

  .contact_link_button:hover{
    --tw-translate-y: -0.25rem;
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
}

.contact_link_button{
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  img{
    width: 1.75rem
  }
}

.blue_contact_link_button{
  --tw-bg-opacity: 1;
  background-color: rgb(0 105 195 / var(--tw-bg-opacity));
  font-size: 16px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

@media (min-width: 1280px){
  .blue_contact_link_button{
    font-size: 1.5rem;
    line-height: 2rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 700ms
  }

  .blue_contact_link_button:hover{
    --tw-translate-y: -0.25rem;
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
}

.footer_section{
  --tw-bg-opacity: 1;
  background-color: rgb(0 105 195 / var(--tw-bg-opacity))
}

.footer{
  margin: auto;
  display: flex;
  max-width: 350px;
  justify-content: space-between;
  padding-top: 2.25rem;
  padding-bottom: 4rem
}

@media (min-width: 1280px){
  .footer{
    display: grid;
    max-width: 1280px;
    justify-content: normal
  }
}

.footer{
  grid-template-columns: 1fr 1.2fr 0.8fr;
}

.social_media_link{
  height: 25px;
  width: 25px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 700ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.social_media_link:hover{
  --tw-translate-y: -0.25rem;
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@media (min-width: 1280px){
  .social_media_link{
    height: 50px;
    width: 50px
  }
}

.social_media_wrapper{
  display: flex;
  gap: 0.75rem
}

.personal_info_block{
  display: flex;
  max-width: 244px;
  flex-direction: column;
  gap: 30px
}

.personal_info_block_name{
  width: 109px;
  font-size: 13px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1280px){
  .personal_info_block_name{
    width: 193px;
    font-size: 1.5rem;
    line-height: 2rem
  }
}

.footer_profession{
  font-size: 8px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.25rem;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1280px){
  .footer_profession{
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

.footer_country{
  font-size: 14px;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1280px){
  .footer_country{
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

.footer_number{
  font-size: 14px;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1280px){
  .footer_number{
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

.footer_email{
  font-size: 14px;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1280px){
  .footer_email{
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

.footer_nav{
  justify-content: center;
  font-size: 12px;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1280px){
  .footer_nav{
    margin-top: 28px;
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

.footer_nav{
  h3{
    font-weight: 700
  }
};

.footer_nav_link_wrapper{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}

@media (min-width: 1280px){
  .footer_nav_link_wrapper{
    flex-direction: row;
    gap: 46px
  }
}

.footer_nav_link_wrapper{
  a{
    font-size: 14px
  }
  a{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
  @media (min-width: 1280px){
    a{
      font-size: 1.125rem;
      line-height: 1.75rem
    }
  }
  a::after {
    display: block;
    content: '';
    border-bottom: solid 2px #ffffff;
    transform: scaleX(0);
    transition: transform 400ms ease-in-out;
    transform-origin: 0% 100%
  }
  a:hover::after {
    transform: scaleX(1);
  }
};

.first_block{
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center
}

@media (min-width: 1280px){
  .first_block{
    flex-direction: row;
    justify-content: space-between
  }
}

.first_block .more_about_photo{
  order: 1
}

.first_block .sub_title{
  margin-top: 14px;
  width: auto;
  max-width: 628px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  line-height: 150%
}

@media (min-width: 1280px){
  .first_block .sub_title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.025em
  }
}

.more_about_photo{
  border-radius: 0.5rem
}

@media (min-width: 1280px){
  .more_about_photo{
    max-height: 380px;
    width: 570px
  }
}

.more_about_photo {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.second_block{
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center
}

@media (min-width: 1280px){
  .second_block{
    margin-top: 62px;
    margin-bottom: 62px;
    flex-direction: row;
    justify-content: space-between
  }

  .second_block .title_block_wrapper{
    order: 2
  }
}

.second_block .sub_title{
  width: auto;
  max-width: 570px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  line-height: 150%
}

@media (min-width: 1280px){
  .second_block .sub_title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.025em
  }
}

.second_block .more_about_photo{
  order: 1
}

.project_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 12px
}

@media (min-width: 1280px){
  .project_card{
    gap: 18px;
    padding-bottom: 30px
  }
}

.project_card{
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  .title_button{
    display: block
  }
  .title_button{
    max-width: 140px
  }
  .title_button{
    padding-top: 10px;
    padding-bottom: 10px
  }
  @media (min-width: 1280px){
    .title_button{
      max-width: 168px
    }
  }
  @media (min-width: 1280px){
    .title_button{
      padding-top: 0.75rem;
      padding-bottom: 0.75rem
    }
  }
  img{
    height: 170px
  }
  img{
    width: 264px
  }
  img{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem
  }
  @media (min-width: 1280px){
    img{
      height: 296px
    }
  }
  @media (min-width: 1280px){
    img{
      width: 396px
    }
  }
  .buttons_wrapper{
    margin-top: auto
  }
  .buttons_wrapper{
    max-width: 300px
  }
  .buttons_wrapper{
    justify-content: space-between
  }
  .buttons_wrapper{
    align-self: center
  }
  h3{
    font-weight: 700
  }
  @media (min-width: 1280px){
    h3{
      font-size: 1.5rem;
      line-height: 2rem
    }
  }
  h4{
    margin-top: -6px
  }
  h4{
    text-align: center
  }
  h4{
    font-size: 0.75rem;
    line-height: 1rem
  }
  @media (min-width: 1280px){
    h4{
      font-size: 0.875rem;
      line-height: 1.25rem
    }
  }
}

.projects_section{
  margin-top: 56px
}

@media (min-width: 1280px){
  .projects_section{
    margin-top: 100px
  }
}

.cards_wrapper{
  margin-top: 2rem;
  display: grid;
  gap: 30px
}

@media (min-width: 1280px){
  .cards_wrapper{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding-left: 1rem;
    padding-right: 1rem
  }
}

.project_title{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700
}

@media (min-width: 1280px){
  .project_title{
    font-size: 3rem;
    line-height: 1
  }
}

.burger_menu_icon_open{
  display: block;
  height: 12px;
  width: 36px;
  cursor: pointer;
  border-top-width: 2px;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(0 105 195 / var(--tw-border-opacity))
}

@media (min-width: 1280px){
  .burger_menu_icon_open{
    display: none
  }
}

.burger_menu_icon_close{
  position: relative;
  z-index: 40;
  margin: 1.5rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  .line1,
    .line2{
    position: absolute
  }
  .line1,
    .line2{
    display: block
  }
  .line1,
    .line2{
    height: 0.25rem
  }
  .line1,
    .line2{
    width: 42px
  }
  .line1,
    .line2{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity))
  }
  .line1{
    top: 50%
  }
  .line1{
    left: 50%
  }
  .line1{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  .line1{
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  .line1{
    --tw-rotate: 45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  .line1{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  .line2{
    top: 50%
  }
  .line2{
    left: 50%
  }
  .line2{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  .line2{
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  .line2{
    --tw-rotate: -45deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
  .line2{
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
  }
}

.burger_menu{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  background-color: rgba(0, 0, 0, 0.9)
}

.burger_nav_links_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  vertical-align: middle;
  a{
    font-size: 1rem;
    line-height: 1.5rem
  }
  a{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
}

.to_up_link{
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  img{
    width: 50px
  }
}

/* ! tailwindcss v3.4.4 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}
